body{
    background-color: #f6e8b1;
}

small {
    font-size: 75%;
  }
  
  header {
    background-color:#ff5768;
    border: groove 3px #f6e8b1;
    
    
  }
  
  .site-title {
    color: #f6e8b1;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #f6e8b1;
    box-sizing: border-box;
    background-color: #ff5768;
    list-style-type: none;
    
    /* border: groove #ff96c5 2px; */
  }
  
  nav .container a {
    color: #f6e8b1;
  }
  
  nav .container a:hover {
    color: brown;
  }

  